In [1]:
import pandas as pd
import numpy as np

In [2]:
tw=pd.read_excel('Hypothesis Testing.xlsx',sheet_name='two way').iloc[:,0:3]
tw=tw.dropna()
tw

  Fert  High   Low
0    A  27.4  32.0
1    A  33.6  32.2
2    A  29.8  26.0
3    A  35.2  33.4
4    A  33.0  26.4
5    B  34.8  26.8
6    B  27.0  23.2
7    B  30.2  29.4
8    B  30.8  19.4
9    B  26.4  23.8

In [3]:
#Fert + Water + Yield
tw.index=tw['Fert']
tw.index.name=None
tw=tw.drop('Fert',axis=1)
tw

   High   Low
A  27.4  32.0
A  33.6  32.2
A  29.8  26.0
A  35.2  33.4
A  33.0  26.4
B  34.8  26.8
B  27.0  23.2
B  30.2  29.4
B  30.8  19.4
B  26.4  23.8

In [4]:
aov=tw.stack()

In [7]:
aov

A  High    27.4
   Low     32.0
   High    33.6
   Low     32.2
   High    29.8
   Low     26.0
   High    35.2
   Low     33.4
   High    33.0
   Low     26.4
B  High    34.8
   Low     26.8
   High    27.0
   Low     23.2
   High    30.2
   Low     29.4
   High    30.8
   Low     19.4
   High    26.4
   Low     23.8
dtype: float64

In [5]:
df=pd.DataFrame(aov.index.tolist())
df.columns=['Fert','Water']

In [6]:
df

   Fert Water
0     A  High
1     A   Low
2     A  High
3     A   Low
4     A  High
5     A   Low
6     A  High
7     A   Low
8     A  High
9     A   Low
10    B  High
11    B   Low
12    B  High
13    B   Low
14    B  High
15    B   Low
16    B  High
17    B   Low
18    B  High
19    B   Low

In [15]:
df['Yield']=aov.values

In [14]:
df.shape

(20, 3)

In [16]:
from statsmodels.formula.api import ols
import statsmodels.api as sm

In [20]:
model=ols('Yield~ C(Fert)*C(Water)',df).fit()

In [21]:
sm.stats.anova_lm(model,typ=2)

                   sum_sq    df         F    PR(>F)
C(Fert)            69.192   1.0  5.766000  0.028847
C(Water)           63.368   1.0  5.280667  0.035386
C(Fert):C(Water)   15.488   1.0  1.290667  0.272656
Residual          192.000  16.0       NaN       NaN

In [22]:
# mu --> population mean
# xbar --> sample mean
# xdbar --> grand mean

In [23]:
#Non parametric: Chi square test of association/independence
#Understand the relationship between Gender and Marital status?

In [24]:
data=pd.read_excel("data.xlsx",sheet_name='Binom')
data.head()

     Card_ID  Campaign_Responce Registration_Date Gender Birth_Date
0  100005950              False        1998-11-18      M 1984-02-06
1  100022191               True        1999-09-15      F 1959-09-11
2  100025442              False        1998-05-12      M 1970-08-25
3  100026513              False        1999-02-12      M 1951-03-12
4  100039145              False        2000-08-12      M 1949-06-08

In [25]:
#Is there a relationship between Gender and Campaign_Responce?

In [26]:
#Null: There is no relationship between Gender and Campaign Responce. (independent)
#Alternate: There is a relatinoship between Gender and Campaign Responce. (dependent)

In [36]:
#Contingency table : 
obs=pd.crosstab(data['Gender'],data['Campaign_Responce'])
obs

Campaign_Responce  False  True
Gender
F                    102     25
M                    146     24

In [34]:
from scipy.stats import chi2_contingency,chisquare
chi2_contingency(obs)

(3.2120770907244163,
 0.07309663494061396,
 1,
 array([[ 50.19186441, 682.80813559],
        [ 50.80813559, 691.19186441]]))

In [31]:
#Degrees of freedom: (r-1)*(c-1)
(2-1)*(2-1)

1

In [32]:
obs=np.array([[41,692],[60,682]])

In [33]:
chi2_contingency(obs)

(3.2120770907244163,
 0.07309663494061396,
 1,
 array([[ 50.19186441, 682.80813559],
        [ 50.80813559, 691.19186441]]))