In [1]:
import pymongo
import csv
from datetime import datetime
import os
import pandas as pd
from pandas import DataFrame
import sqlalchemy as sa
import urllib
import pyodbc

## Connecting to MongoDB Atlas Cluster

In [2]:
MONGODB_CONNECTION_URL = "mongodb://user:xQs81rUxXOv3nXB1@mongocp-shard-00-00.g9mht.mongodb.net:27017,mongocp-shard-00-01.g9mht.mongodb.net:27017,mongocp-shard-00-02.g9mht.mongodb.net:27017/admin?ssl=true&replicaSet=atlas-ialqd8-shard-0&authSource=admin&retryWrites=true&w=majority"

* user: user is read only access
* user: mskl is admin access

In [10]:
MONGODB_CONNECTION_URL="mongodb://mskl:N6L21SeDMTwjjz9v@mongocp-shard-00-00.g9mht.mongodb.net:27017,mongocp-shard-00-01.g9mht.mongodb.net:27017,mongocp-shard-00-02.g9mht.mongodb.net:27017/admin?ssl=true&replicaSet=atlas-ialqd8-shard-0&authSource=admin&retryWrites=true&w=majority"

## PyMongo Client

In [3]:
#### Mongo connection with PyMongo ########
client = pymongo.MongoClient(MONGODB_CONNECTION_URL)
db = client.wecure;
admissions = db.admissions

C:\Users\Amit\Anaconda3\lib\site-packages\pymongo\common.py:555: UserWarning: Unknown option retryWrites
  warnings.warn(str(exc))

In [13]:
client.database_names()

['Mydatabase', 'wecure', 'admin', 'local']

In [12]:
db.collection_names()

['hospitals', 'products', 'claims', 'patients', 'restaurants', 'admissions']

In [11]:
new_collection = db["my_collection"]

In [5]:
patients = db.patients

In [6]:
patients.find()

In [7]:
hospitals = db.hospitals

### Querying Admissions Collection

https://www.analyticsvidhya.com/blog/2020/08/query-a-mongodb-database-using-pymongo/
https://docs.mongodb.com/manual/reference/operator/query/and/#mongodb-query-op.-and

In [8]:
len(admissions.distinct('admission_id'))

125

**There are 129 admissions**

Collection(Database(MongoClient(host=['mongocp-shard-00-01.g9mht.mongodb.net:27017', 'mongocp-shard-00-00.g9mht.mongodb.net:27017', 'mongocp-shard-00-02.g9mht.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, ssl=True, replicaset='atlas-ialqd8-shard-0', authsource='admin', w='majority'), 'wecure'), 'admissions')

In [9]:
a = admissions.find( { "$and": [ { "diagnosis" : { "$eq" : 'DIABETES' } }, { "insurer_type": {  "$eq" : 'Medicare' } } ] } )

Query in mongodb compass **{ $and: [ { diagnosis: { $eq: 'DIABETES'  } }, { insurer_type: { $eq: 'Medicare'  } } ] }**

In [8]:
len(list(a.clone()))

55

**There are 55 admissions who have medicare insurance and are admiitte for diabetes**

In [9]:
admissions.aggregate([
  { "$project": {
    "admit_time": { "$toDate": "$createTime" }
  }}
])

### Converting Cllection to Dataframe

In [10]:
######## Converting Collection to DataFrame ########
## First create a cursor
## COnvert cursor to list of dictionary
## Then Convert list to dataframe

adm_cursor = admissions.find()
adm_list_cur = list(adm_cursor)
adm = DataFrame(adm_list_cur)

pat_cursor = patients.find()
pat_list_cur = list(pat_cursor)
pat = DataFrame(pat_list_cur)

hos_cursor = hospitals.find()
hos_list_cur = list(hos_cursor)
hos = DataFrame(hos_list_cur)

In [49]:
adm

,_id,admission_id,hospital_id,patient_id,admit_time,discharge_time,insurer_type,diagnosis,icu_details
0,6089793d57261b5308cee231,142345,20060001,10006,02-10-2017 10:56,20-10-2017 21:25,Medicare,DIABETES,NaN
1,6089793d57261b5308cee232,105331,20060001,10011,24-07-2018 20:41,12-08-2018 15:27,Private,DIABETES,NaN
2,6089793d57261b5308cee233,165520,20060001,10013,08-08-2018 08:38,23-08-2018 18:06,Medicare,DIABETES,NaN
3,6089793d57261b5308cee234,199207,20060001,10017,18-11-2017 19:28,06-12-2017 00:28,Medicare,DIABETES,NaN
4,6089793d57261b5308cee235,177759,20060001,10019,13-02-2018 21:18,19-02-2018 18:17,Medicare,DIABETES,NaN
...,...,...,...,...,...,...,...,...,...
124,6089793d57261b5308cee2ad,198330,20070005,44083,16-07-2017 10:27,27-07-2017 19:59,Private,DIABETES,"[{'icustay_id': 286428, 'in_time': '07-02-2018..."
125,6089793d57261b5308cee2ae,174245,20070005,44154,21-11-2017 12:08,30-11-2017 20:33,Medicare,SEPSIS,"[{'icustay_id': 217724, 'in_time': '24-07-2018..."
126,6089793d57261b5308cee2af,163189,20070005,44212,19-10-2017 15:08,26-10-2017 15:57,Medicare,HEPATITIS,"[{'icustay_id': 239396, 'in_time': '29-03-2017..."
127,6089793d57261b5308cee2b0,192189,20070005,44222,22-07-2018 15:19,07-08-2018 21:08,Medicare,DIABETES,"[{'icustay_id': 238186, 'in_time': '11-06-2018..."
128,6089793d57261b5308cee2b1,103379,20070005,44228,02-12-2017 14:28,18-12-2017 16:17,Private,STROKE,"[{'icustay_id': 217992, 'in_time': '13-07-2017..."

In [50]:
hos

,_id,hospital_id,hospital_name,hospital_type,latitude,longitude,city,state,num_licensed_bed,num_staffed_beds,num_icu_beds,adult_icu_beds,pedi_icu_beds,icu_utilization
0,6089795157261b5308cee2b2,20060001,B.M. Birla Heart Research Centre,Private,30.325565,78.043681,Dehradun,Uttarakhand,62,62,0,0,null,0.279868
1,6089795157261b5308cee2b3,20060002,MIMS Hospital,Private,13.351972,74.787031,Manipal,Karnataka,295,295,2,2,null,0.623113
2,6089795157261b5308cee2b4,20070003,Kerala Institute of Medical Sciences (KIMS),Private,12.816150,80.036770,Kattankulathur,Tamil Nadu,54,54,2,2,null,0.770054
3,6089795157261b5308cee2b5,20070004,Max Super Speciality Hospital,Private,12.907175,79.130969,Vellore,Tamil Nadu,216,216,1,1,null,0.285131
4,6089795157261b5308cee2b6,20070005,Max Super Speciality Hospital ( A Unit of Devk...,Public/Government,18.938771,72.835335,Mumbai,Maharashtra,62,62,0,0,null,0.378721
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75,6089795157261b5308cee2fd,20110080,V.G.M. Hospital,Private,28.711241,77.444537,Ghaziabad,Uttar Pradesh,150,150,20,20,0,0.259510
76,6089795157261b5308cee2fe,20110081,L.V. Prasad Eye Institute,Private,12.305183,76.655361,Mysuru,Karnataka,406,183,32,32,0,0.207129
77,6089795157261b5308cee2ff,20110082,Fortis Hospitals Ltd.,Public/Government,12.979120,77.591300,Bangalore,Karnataka,349,349,33,33,0,0.094997
78,6089795157261b5308cee300,20110083,Apollo Hospitals,Private,18.521428,73.854454,Pune,Maharashtra,669,611,38,38,0,0.460461
79,6089795157261b5308cee301,20110084,Aster MIMS Hospital,Private,12.979120,77.591300,Bangalore,Karnataka,263,198,20,20,0,0.731110

In [51]:
pd.merge(adm,hos,on='hospital_id')

,_id_x,admission_id,hospital_id,patient_id,admit_time,discharge_time,insurer_type,diagnosis,icu_details,_id_y,...,latitude,longitude,city,state,num_licensed_bed,num_staffed_beds,num_icu_beds,adult_icu_beds,pedi_icu_beds,icu_utilization
0,6089793d57261b5308cee231,142345,20060001,10006,02-10-2017 10:56,20-10-2017 21:25,Medicare,DIABETES,NaN,6089795157261b5308cee2b2,...,30.325565,78.043681,Dehradun,Uttarakhand,62,62,0,0,null,0.279868
1,6089793d57261b5308cee232,105331,20060001,10011,24-07-2018 20:41,12-08-2018 15:27,Private,DIABETES,NaN,6089795157261b5308cee2b2,...,30.325565,78.043681,Dehradun,Uttarakhand,62,62,0,0,null,0.279868
2,6089793d57261b5308cee233,165520,20060001,10013,08-08-2018 08:38,23-08-2018 18:06,Medicare,DIABETES,NaN,6089795157261b5308cee2b2,...,30.325565,78.043681,Dehradun,Uttarakhand,62,62,0,0,null,0.279868
3,6089793d57261b5308cee234,199207,20060001,10017,18-11-2017 19:28,06-12-2017 00:28,Medicare,DIABETES,NaN,6089795157261b5308cee2b2,...,30.325565,78.043681,Dehradun,Uttarakhand,62,62,0,0,null,0.279868
4,6089793d57261b5308cee235,177759,20060001,10019,13-02-2018 21:18,19-02-2018 18:17,Medicare,DIABETES,NaN,6089795157261b5308cee2b2,...,30.325565,78.043681,Dehradun,Uttarakhand,62,62,0,0,null,0.279868
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
124,6089793d57261b5308cee2ad,198330,20070005,44083,16-07-2017 10:27,27-07-2017 19:59,Private,DIABETES,"[{'icustay_id': 286428, 'in_time': '07-02-2018...",6089795157261b5308cee2b6,...,18.938771,72.835335,Mumbai,Maharashtra,62,62,0,0,null,0.378721
125,6089793d57261b5308cee2ae,174245,20070005,44154,21-11-2017 12:08,30-11-2017 20:33,Medicare,SEPSIS,"[{'icustay_id': 217724, 'in_time': '24-07-2018...",6089795157261b5308cee2b6,...,18.938771,72.835335,Mumbai,Maharashtra,62,62,0,0,null,0.378721
126,6089793d57261b5308cee2af,163189,20070005,44212,19-10-2017 15:08,26-10-2017 15:57,Medicare,HEPATITIS,"[{'icustay_id': 239396, 'in_time': '29-03-2017...",6089795157261b5308cee2b6,...,18.938771,72.835335,Mumbai,Maharashtra,62,62,0,0,null,0.378721
127,6089793d57261b5308cee2b0,192189,20070005,44222,22-07-2018 15:19,07-08-2018 21:08,Medicare,DIABETES,"[{'icustay_id': 238186, 'in_time': '11-06-2018...",6089795157261b5308cee2b6,...,18.938771,72.835335,Mumbai,Maharashtra,62,62,0,0,null,0.378721
128,6089793d57261b5308cee2b1,103379,20070005,44228,02-12-2017 14:28,18-12-2017 16:17,Private,STROKE,"[{'icustay_id': 217992, 'in_time': '13-07-2017...",6089795157261b5308cee2b6,...,18.938771,72.835335,Mumbai,Maharashtra,62,62,0,0,null,0.378721