# Part 2

## Complex data types

## Lists

In [ ]:
cities = ['New York','London','Mumbai','Berlin','Sydney','Beijing','Singapore','Chicago','Paris','Johannesburg']

In [ ]:
cities

In [ ]:
cities[0]

In [ ]:
cities[3]

In [ ]:
cities[-3]

In [ ]:
cities[1:4]

In [ ]:
cities.append('Rome') # add element to the end of the list
cities

In [ ]:
cities.append('Istanbul','Tokyo','Toronto')
cities

In [ ]:
cities.append(['Istanbul','Tokyo','Toronto'])
cities

In [ ]:
cities[-1]

In [ ]:
cities.pop() # remove the last element

In [ ]:
cities

In [ ]:
cities.extend(['Istanbul','Tokyo','Toronto'])
cities

In [ ]:
cities.insert(4,"Some new city") # to add an element at a particular index
cities

The 'remove' method only removes the first occurrence

In [ ]:
cities.remove("Some new city") # Note: only removes first occurrence
cities

In [ ]:
cities.remove("Chicago")

In [ ]:
cities

In [ ]:
"Boston" in cities

In [ ]:
"Mumbai" in cities

In [ ]:
num_list = [1,2,4,5,6,4,7,0]
num_list

<b>Lists can hold mixed data types, but this is not recommended</b>

In [ ]:
print("This is the start of the list of cities")
for temp_city in cities:
        print("\t%s" % temp_city)
print("This is the end of the list of cities")

In [ ]:
indian_cities = ['Mumbai','Delhi','Bangalore','Hyderabad','Chennai',
          'Ahmedabad','Kolkata','Surat','Pune','Jaipur','Nagpur',
          'Indore','Visakhapatnam']
indian_cities

In [ ]:
for temp_city in indian_cities:
    phrase = 'Welcome to ' + temp_city
    if "pur" in temp_city:
        print(phrase + ', which is a city containing "pur"')
    elif "bad" in temp_city:
        print(phrase + ', which is a "bad" city!')
    else:
        print(phrase)

In [ ]:
range(100) # same as creating the list [0,1,2,3,4,5,6,...,97,98,99]

In [ ]:
for n in range(10):
    print('The inverse of ',n,' is ',1/n)

In [ ]:
for n in range(1,10):
    print('The inverse of ',n,' is ',1/n)

In [ ]:
for n in range(10):
    if n == 0:
        print('The inverse of 0 is not defined')
    else:
        print('The inverse of ',n,' is ',1/n)

Unlike strings, lists are *mutable*:

In [ ]:
aList = ['Dog','Cat','Cow','Pig','Horse']

In [ ]:
aList[2]

In [ ]:
aList[2] = 'Buffalo'

In [ ]:
aList

# Boolean operators

In [ ]:
1 == 2

In [ ]:
2 == 2

In [ ]:
x = 3 # Assignment

In [ ]:
x == 4 # Comparison

In [ ]:
3 > 6

In [ ]:
5 < 9

In [ ]:
1 >= 2

In [ ]:
1 <= 2

In [ ]:
1 != 2

# Tuples - like lists, but are immutable

In [ ]:
t = (1,2,3)
t

In [ ]:
t.append(4)

In [ ]:
t1 = [1,2,3]
t1

In [ ]:
t1.append(4)
t1

Tuples can also be created from other objects using the function *tuple()*

In [ ]:
newTuple = tuple(t1)

In [ ]:
newTuple

<b>Now note:</b>


[ ] is used to specify the index of a string or list or other object

[ ] is also used to define a list

( ) is used to pass arguments (or parameters) to a function or method

( ) is also used to define a tuple

# Dictionaries - mapping objects or associative arrays

### An unordered collection of key-value pairs

In [ ]:
my_list = [1,2,3]

In [ ]:
my_dict = {'New York':28,'Chicago':22,'Phoenix':31,'Dallas':27,'Los Angeles':32} # note the {}

In [ ]:
my_dict

In [ ]:
my_dict['New York']

In [ ]:
my_dict['St Louis']

In [ ]:
len(my_dict)

In [ ]:
my_dict['St Louis'] = 31 # add a new key-value pair
my_dict

In [ ]:
my_dict['Dallas'] = 28 # change value for an existing key
my_dict

In [ ]:
'Boston' in my_dict

In [ ]:
'Chicago' in my_dict

In [ ]:
del my_dict['Phoenix']
my_dict

In [ ]:
dict1 = {'SF':8.37e5,'LA':3.88e6,'NYC':8.4e6}

In [ ]:
dict2 = {'City':['SF','LA','NYC'],'Population':[8.37e5,3.88e6,8.4e6]} # create a dictionary
dict2

## End of part 2