# Part 5

# Sorting

In [ ]:
# imports
import pandas as pd
from pandas import Series, DataFrame

In [ ]:
ser1 = Series([17,12,9],index=['c','a','e'])

In [ ]:
ser1

In [ ]:
ser1.sort_index() # sort by index

In [ ]:
ser1.sort_values() # ser1.order() used in Python 2 - now deprecated

In [ ]:
from numpy.random import randn

In [ ]:
ser2 = Series(randn(10))
ser2

In [ ]:
ser2.sort_values()

In [ ]:
ser2

In [ ]:
ser2.rank()

In [ ]:
import numpy as np
np.random.seed(0)#makes the random numbers predictable it means everytime we run 
#this cell same number will be generatd
ser3 = Series(np.random.rand(10))
ser3

In [ ]:
ser3.rank()

# Missing data

In [ ]:
import numpy as np

In [ ]:
from numpy import nan

In [ ]:
data = Series(['one','two',nan,'four'])
data

In [ ]:
data.isnull() # finding missing values

In [ ]:
np.sum(data.isnull())

In [ ]:
data.notnull() # finding non-missing values

In [ ]:
data = data.dropna() # remove null values

In [ ]:
data

In [ ]:
dframe = DataFrame([[1,2,3],[nan,5,6],[7,nan,9],[nan,nan,nan]])
dframe

In [ ]:
np.sum(dframe.isnull(), axis = 0)

In [ ]:
clean_dframe = dframe.dropna() # removes all rows for which there is one or more null values
clean_dframe

In [ ]:
dframe.dropna(how='all') # removes rows for which all data is missing or null`

In [ ]:
dframe.dropna(thresh=2)

In [ ]:
dframe.dropna(axis=1) # as usual, default is by row (i.e. axis = 0)

In [ ]:
dframe2 = DataFrame([[1,2,3,nan],[2,nan,5,6],[nan,7,nan,9],[1,nan,nan,nan]])
dframe2

Options for using dropna
<br>[1] dframe.dropna(): drops all rows in which <b>ANY</b> of the values are missing
<br>[2] dframe.dropna(how = 'all'): drops rows in which <b>ALL</b> values are missing
<br>[3] dframe.dropna(thresh = n): drops rows which have less than n <b>NON-MISSING</b> values

In [ ]:
dframe2.dropna(thresh = 2) 
# drop rows that have less than two non-missing values
# i.e. only keep rows that have at least two non-missing

In [ ]:
dframe2.dropna(thresh = 3)

In [ ]:
dframe2

In [ ]:
dframe2.fillna(999) # replace NAs with the value supplied

In [ ]:
dframe2.columns = ['Col1','Col2','Col3','Col4']

In [ ]:
dframe2

In [ ]:
mean1 = dframe2['Col1'].mean()
mean2 = dframe2['Col2'].mean()
mean3 = dframe2['Col3'].mean()
mean4 = dframe2['Col4'].mean()

In [ ]:
mean1

In [ ]:
mean2

In [ ]:
dframe2

In [ ]:
dframe2.fillna({'Col1':mean1,'Col2':mean2,'Col3':mean3,'Col4':mean4}) # fill each column with a particular (different) value

In [ ]:
dframe2.fillna(0)

In [ ]:
dframe2 # original dframe is unchanged

In [ ]:
dframe2.fillna(0,inplace = True) # changes the original data frame

In [ ]:
dframe2

## End of part 5