# Part 7

# Reshaping data frames

In [ ]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [ ]:
dframe1 = DataFrame(np.arange(8).reshape((2, 4)),
                    index = pd.Index(['LA', 'SF'], name = 'city'),
                    columns = pd.Index(['A', 'B', 'C','D'], name = 'letter')) 
# by using pd.Index we can name the index and the columns
dframe1

In [ ]:
dframe_st = dframe1.stack() # "pivots" rows into columns - actually melts wide into long format
dframe_st

In [ ]:
dframe_st.unstack() # casts long into wide format

In [ ]:
dframe_st.unstack('city') # specify which column to unstack by

In [ ]:
ser1 = Series([0, 1, 2], index=['Q', 'X', 'Y'])
ser1

In [ ]:
ser2 = Series([4, 5, 6], index=['X', 'Y', 'Z'])
ser2

In [ ]:
dframe = pd.concat([ser1,ser2],keys = ['Alpha','Beta'])
dframe

In [ ]:
# Not really a DF yet - just two series concatenated into a single series

In [ ]:
df_new1 = dframe.unstack() # turns it into a DF
df_new1

In [ ]:
df_new1.stack() # automatically filters out null values

In [ ]:
dframe = dframe.unstack()
dframe

In [ ]:
dframe.stack() # doesn't keep null values

In [ ]:
df_new1.stack(dropna = False) # retains null values

# Pivoting

In [ ]:
dframe = pd.read_csv("data/dummydata2.csv")

In [ ]:
dframe

In [ ]:
dframe_piv = dframe.pivot('date','city','total_sales') # row,column,value
dframe_piv

In [ ]:
dframe.pivot('city','date','total_sales') # R users - you can do this by typing xtabs(total_sales ~ city + date)

## End of part 7