# Part 1

## Assignment and basic operations

In [ ]:
import pandas as pd

In [ ]:
df =

In [2]:
x = 6

In [3]:
x

6

In [4]:
print(x)

6

In [ ]:
x + 5

In [ ]:
x

In [ ]:
y = x + 5

In [ ]:
y

In [ ]:
x * 3

In [ ]:
x ** 3 # note that ** is used for exponentiation and not the ^

In [ ]:
x ** -2

In [ ]:
x ** 0.5

In [ ]:
x = 10

In [ ]:
x % 3

In [ ]:
x % 2

In [ ]:
x % 7

In [ ]:
x % 11

In [ ]:
2 + 1 # integer

In [ ]:
2 + 1.0 # float

In [ ]:
type(x) # type is a function or method

In [ ]:
float(x) # coercion

In [6]:
Z = 2.5

In [7]:
int(Z)

2

In [ ]:
x

In [8]:
x/3

2.0

In [9]:
x//3 # returns only the integer portion of the answer

2

Names can contain A-Z,a-z,_,0-9

In [ ]:
x2 = 5

In [ ]:
2x = 4 # variable name cannot start with a number

Variable name cannot contain - + / *

In [ ]:
for = 2 # reserve words cannot be used as variable names

In [ ]:
break = 5 # reserve words cannot be used as variable names

In [ ]:
x = 10

In [ ]:
type(x)

In [ ]:
float(x) # x does not change

In [ ]:
type(x)

In [ ]:
x = float(x) # x changes

In [ ]:
type(x)

# Numbers

### Integers

In [ ]:
intZero = 0
intTen = 10
intMinusTen = -10
intHuge = 2 ** 100
print(type(intZero))
print(type(intTen))
print(type(intMinusTen))
print(type(intHuge))

In [ ]:
# A number with a decimal point is not an integer even if the fractional part is zero.
nonIntZero = 1.0
print(type(nonIntZero))

In [ ]:
floatTen = 10.
print(floatTen)

**Type conversions**

Numbers in Python can easily be converted from a given type to a target type. Each numeric type has an associated conversion function which accepts a number and converts it to the desired type. For example a number may be converted to an int with the `int()` function, to a float with the `float()` function, and to a complex with the `complex()` function

In [ ]:
intTen

In [ ]:
float(intTen)

In [ ]:
floatTen

In [ ]:
int(floatTen)

### Order of operations - usual rules apply (BIDMAS or BODMAS)

In [ ]:
width = 4

In [ ]:
length = 6

In [ ]:
perimeter = (2 * width) + (2 * length)
perimeter

In [ ]:
perimeter = 2 * width + 2 * length
perimeter

In [ ]:
perimeter = 2 * (width + length) # same as the above
perimeter

In [ ]:
perimeter = 2 * width + length # wrong answer
perimeter

# Strings

In Python, strings are simply sequences of characters enclosed within quotation marks. Strings can be made using single quotes (`'hello'`) or double quotes (`"hello"`).

Being a sequence, strings also have a _length_ found by the `len` function. Additionally, strings can be thought of as *sequences* and/or *iterables*, i.e. they can be indexed and iterated over. The type of strings is `str` and different objects in Python can be converted to strings using the `str` function.

In [ ]:
"Hello"

In [ ]:
'Hello hello'

Strings are of type `str`

In [ ]:
type('Hello')

Other objects can be converted to strings with the `str()` function.

In [10]:
str(-2)

'-2'

In [11]:
str(22/7)

'3.142857142857143'

In [12]:
str(3 < 8)

'True'

In [13]:
2 == True

False

In [14]:
y = 'Hello'
y

'Hello'

In [ ]:
s = "Hi"
s

You can include double quotation marks in your string by enclosing the string in single quotes and vice versa

In [ ]:
He said "Hello"

In [17]:
s = 'He said "Hello"'
s

SyntaxError: invalid syntax (<ipython-input-17-72d0fce0e3c7>, line 1)

In [ ]:
s = "She said 'Bye'"
s

In [ ]:
y

In [18]:
y + ' Fractal' # concatenation

'Hello Fractal'

In [19]:
y + 2

TypeError: Can't convert 'int' object to str implicitly

In [20]:
y + str(2)

'Hello2'

In [21]:
y * 7 # shortcut for writing y + y + y + ...

'HelloHelloHelloHelloHelloHelloHello'

In [22]:
y * 2.3

TypeError: can't multiply sequence by non-int of type 'float'

In [23]:
"e" in "Hello"

True

In [24]:
'e' in y

True

In [25]:
"x" in "Hello"

False

In [26]:
"el" in y

True

In [27]:
"h" in y # in Python, everything is case sensitive

False

In [28]:
"H" in y

True

In [29]:
y

'Hello'

In [30]:
len(y)

5

In [31]:
y[0]

'H'

In [32]:
y[4]

'o'

In [33]:
y[-1] # the first item from the end or RHS

'o'

In [ ]:
y[-2]

In [ ]:
len(y)

In [34]:
y[:4] # Slicing - or accessing a 'slice' from a string

'Hell'

In [35]:
y[1:3]

'el'

In [ ]:
y[1:-2]

In [ ]:
y[1:]

In [ ]:
y[:3]

In [ ]:
y[:] # pointless!!

In [ ]:
y[7]

In [36]:
s = 'Hello and welcome to the Python training program'

In [37]:
s[3:11:2]

'l n '

To subset from index *i* to *j* in steps of size *k*, use `i:j:k` (if omitted, step size *k* is 1)

In [ ]:
s[3:18]

In [ ]:
s[3::3]

**Iteration**

Besides indexing, strings can also be iterated over as an iterable of characters using a loop (you can't do this in R!)

for x in y:
    x + y
    3 + 4
    if x > 10:

In [ ]:
for char in y:
    print(char)
    for i in y1:
        dfsglkjdflkjg
        sdfgkljsdfkljg
        if a < b:
            sdlkjkl
            sdf;ljk;l
        elif:
            sd;lkf;lksd
        sd;lkf;lsd
        else : 
    asd;flk;lsk
    char *3
print(char)

**A final note on strings**

Strings are *immutable* - they cannot be changed. You can create a new string from an existing string, and you can even overwrite the existing string with the new one, but you cannot modify an existing one:

In [38]:
myString = 'Hello and welcome'

In [39]:
myString[10]

'w'

In [40]:
myString[10] = 'W'

TypeError: 'str' object does not support item assignment

In [41]:
myString + ' to this session'

'Hello and welcome to this session'

In [42]:
myString = myString + ' to this session'
myString

'Hello and welcome to this session'

In [43]:
y.index('He')

0

In [44]:
y.index("llo")

2

In [45]:
y.index("xyz")

ValueError: substring not found

In [46]:
y.find("xyz")

-1

In [47]:
y.find("llo")

2

In [48]:
y.lower()

'hello'

In [49]:
y.upper()

'HELLO'

In [51]:
y1 = "Hello, name"
y1

'Hello, name'

In [53]:
y1.replace("Hello","Hi")

'Hi, name'

In [ ]:
y1

In [54]:
"a a b f d a d".replace("a","x")

'x x b f d x d'

In [ ]:
y1 = "Hi!\nHow are you?\n\tGood!"
print(y1)

Remove leading and trailing characters

In [ ]:
y1 = "   Hi  "
y1

In [55]:
y1.strip() # remove leading AND trailing spaces

'Hello, name'

In [56]:
y1.lstrip() # remove only leading spaces

'Hello, name'

In [57]:
y1.rstrip() # remove only trailing spaces

'Hello, name'

In [ ]:
y.startswith("He")

In [ ]:
y.startswith("he")

In [ ]:
y.endswith("lo")

In [ ]:
y.lower().startswith("he")

### Formatting strings

In [59]:
company_name = 'Fractal'

In [60]:
s = "Welcome to %s" % company_name
s

'Welcome to Fractal'

In [61]:
s = "Welcome to %s in %s" %("Fractal","Kiev")
s

'Welcome to Fractal in Kiev'

In [62]:
company = "Fractal"
city = "Kiev"
s = "Welcome to "+"%"+" %s in %s" %(company,city)
s

'Welcome to % Fractal in Kiev'

In [63]:
day = 7
"Welcome to training day %d" % day

'Welcome to training day 7'

In [64]:
temp = 1.3
"The temperature now is %f" % temp

'The temperature now is 1.300000'

In [65]:
"The temperature now is %.2f" % temp

'The temperature now is 1.30'

## End of part 1