## What are we going to cover?
* Concepts of "Group By"
* Concepts of Aggregation
* Application of the concepts in solving some real world scenarios
* Variations of syntax across different scenarios

In [2]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

In [3]:
dframe = DataFrame({'k1':['X','X','Y','Y','Z'],
                    'k2':['alpha','beta','alpha','beta','alpha'],
                    'data1':np.arange(5),
                    'data2':np.arange(5)})
dframe

  k1     k2  data1  data2
0  X  alpha      0      0
1  X   beta      1      1
2  Y  alpha      2      2
3  Y   beta      3      3
4  Z  alpha      4      4

Group one column according to a key - in this case *k1*; the resulting object is a series

Note: this syntax/method does not work for more than one key

In [4]:
group1 = dframe['data1'].groupby(dframe['k1'])
type(group1)

pandas.core.groupby.generic.SeriesGroupBy

In [5]:
group1.mean()

k1
X    0.5
Y    2.5
Z    4.0
Name: data1, dtype: float64

In [6]:
dframe

  k1     k2  data1  data2
0  X  alpha      0      0
1  X   beta      1      1
2  Y  alpha      2      2
3  Y   beta      3      3
4  Z  alpha      4      4

Group all columns by *k1* - the resulting object is a data frame

In [7]:
dframe.groupby('k1')

In [8]:
dframe.groupby('k1').mean() # groupwise mean

    data1  data2
k1
X     0.5    0.5
Y     2.5    2.5
Z     4.0    4.0

In [9]:
dframe.groupby(['k1']).size() # groupwise count

k1
X    2
Y    2
Z    1
dtype: int64

In [10]:
dframe.groupby(['k1','k2']).mean() # group all columns by k1 and k2

          data1  data2
k1 k2
X  alpha    0.0    0.0
   beta     1.0    1.0
Y  alpha    2.0    2.0
   beta     3.0    3.0
Z  alpha    4.0    4.0

In [11]:
dframe.groupby(['k1','k2']).size()

k1  k2
X   alpha    1
    beta     1
Y   alpha    1
    beta     1
Z   alpha    1
dtype: int64

In [12]:
cities = np.array(['NY','LA','LA','NY','NY'])
cities

array(['NY', 'LA', 'LA', 'NY', 'NY'], dtype='<U2')

In [13]:
month = np.array(['JAN','FEB','JAN','FEB','JAN'])
month

array(['JAN', 'FEB', 'JAN', 'FEB', 'JAN'], dtype='<U3')

In [14]:
dframe['data1']

0    0
1    1
2    2
3    3
4    4
Name: data1, dtype: int32

In [15]:
g_ds1 = dframe['data1'].groupby([cities,month])
g_ds1.size() # grouping by a variable in external series

LA  FEB    1
    JAN    1
NY  FEB    1
    JAN    2
Name: data1, dtype: int64

# Data aggregation

In [16]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [17]:
dframe_wine = pd.read_csv("data/redwines.csv") # read some data

In [18]:
dframe_wine

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_so2,total_so2,density,pH,sulphates,alcohol,quality
0,6.5,0.900,0.00,1.6,0.052,9.0,17.0,0.99467,3.50,0.63,10.9,6
1,9.1,0.220,0.24,2.1,0.078,1.0,28.0,0.99900,3.41,0.87,10.3,6
2,6.9,0.520,0.25,2.6,0.081,10.0,37.0,0.99685,3.46,0.50,11.0,5
3,7.3,0.590,0.26,2.0,0.080,17.0,104.0,0.99584,3.28,0.52,9.9,5
4,12.5,0.280,0.54,2.3,0.082,12.0,29.0,0.99970,3.11,1.36,9.8,7
...,...,...,...,...,...,...,...,...,...,...,...,...
1594,6.5,0.400,0.10,2.0,0.076,30.0,47.0,0.99554,3.36,0.48,9.4,6
1595,11.6,0.410,0.54,1.5,0.095,22.0,41.0,0.99735,3.02,0.76,9.9,7
1596,10.2,0.340,0.48,2.1,0.052,5.0,9.0,0.99458,3.20,0.69,12.1,7
1597,6.6,0.440,0.15,2.1,0.076,22.0,53.0,0.99570,3.32,0.62,9.3,5
1598,8.2,0.915,0.27,2.1,0.088,7.0,23.0,0.99620,3.26,0.47,10.0,4

In [19]:
type(dframe_wine)

pandas.core.frame.DataFrame

In [20]:
dframe_wine.head(12)

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_so2,total_so2,density,pH,sulphates,alcohol,quality
0,6.5,0.90,0.00,1.6,0.052,9.0,17.0,0.99467,3.50,0.63,10.9,6
1,9.1,0.22,0.24,2.1,0.078,1.0,28.0,0.99900,3.41,0.87,10.3,6
2,6.9,0.52,0.25,2.6,0.081,10.0,37.0,0.99685,3.46,0.50,11.0,5
3,7.3,0.59,0.26,2.0,0.080,17.0,104.0,0.99584,3.28,0.52,9.9,5
4,12.5,0.28,0.54,2.3,0.082,12.0,29.0,0.99970,3.11,1.36,9.8,7
5,5.4,0.74,0.09,1.7,0.089,16.0,26.0,0.99402,3.67,0.56,11.6,6
6,10.4,0.28,0.54,2.7,0.105,5.0,19.0,0.99880,3.25,0.63,9.5,5
7,7.9,0.40,0.30,1.8,0.157,2.0,45.0,0.99727,3.31,0.91,9.5,6
8,7.3,0.39,0.31,2.4,0.074,9.0,46.0,0.99620,3.41,0.54,9.4,6
9,9.5,0.37,0.52,2.0,0.088,12.0,51.0,0.99613,3.29,0.58,11.1,6
10,6.8,0.69,0.00,5.6,0.124,21.0,58.0,0.99970,3.46,0.72,10.2,5
11,8.2,0.28,0.60,3.0,0.104,10.0,22.0,0.99828,3.39,0.68,10.6,5

In [21]:
dframe_wine.shape

(1599, 12)

In [22]:
dframe_wine.columns

Index(['fixed_acidity', 'volatile_acidity', 'citric_acid', 'residual_sugar',
       'chlorides', 'free_so2', 'total_so2', 'density', 'pH', 'sulphates',
       'alcohol', 'quality'],
      dtype='object')

In [23]:
dframe_wine.describe()

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_so2,total_so2,density,pH,sulphates,alcohol,quality
count,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000
mean,8.319637,0.527821,0.270976,2.538806,0.087467,15.874922,46.467792,0.996747,3.311113,0.658149,10.422983,5.636023
std,1.741096,0.179060,0.194801,1.409928,0.047065,10.460157,32.895324,0.001887,0.154386,0.169507,1.065668,0.807569
min,4.600000,0.120000,0.000000,0.900000,0.012000,1.000000,6.000000,0.990070,2.740000,0.330000,8.400000,3.000000
25%,7.100000,0.390000,0.090000,1.900000,0.070000,7.000000,22.000000,0.995600,3.210000,0.550000,9.500000,5.000000
50%,7.900000,0.520000,0.260000,2.200000,0.079000,14.000000,38.000000,0.996750,3.310000,0.620000,10.200000,6.000000
75%,9.200000,0.640000,0.420000,2.600000,0.090000,21.000000,62.000000,0.997835,3.400000,0.730000,11.100000,6.000000
max,15.900000,1.580000,1.000000,15.500000,0.611000,72.000000,289.000000,1.003690,4.010000,2.000000,14.900000,8.000000

In [24]:
dframe_wine.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1599 entries, 0 to 1598
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   fixed_acidity     1599 non-null   float64
 1   volatile_acidity  1599 non-null   float64
 2   citric_acid       1599 non-null   float64
 3   residual_sugar    1599 non-null   float64
 4   chlorides         1599 non-null   float64
 5   free_so2          1599 non-null   float64
 6   total_so2         1599 non-null   float64
 7   density           1599 non-null   float64
 8   pH                1599 non-null   float64
 9   sulphates         1599 non-null   float64
 10  alcohol           1599 non-null   float64
 11  quality           1599 non-null   int64
dtypes: float64(11), int64(1)
memory usage: 150.0 KB

In [25]:
dframe_wine['alcohol'].mean() # aggregating using a built-in function - in this case, mean

10.422983114446529

In [26]:
dframe_wine.alcohol.mean() # same thing

10.422983114446529

#### Writing a user-defined function

In [27]:
def my_mean(a,b):
    m = (a+b)/2
    return m

In [28]:
z = my_mean(2,3)

In [29]:
z

2.5

In [30]:
# creating a user-defined function to aggregate by
def max_to_min(arr):
    '''
    Function to calculate range based on max and min
    inputs: numeric array
    '''
    z = arr.max() - arr.min()
    return z

In [31]:
#A Python docstring is a string used to document a Python module, class, function or method, 
# so programmers can understand what it does without having to read the details of the implementation. 
# Also, it is a common practice to generate online (html) documentation automatically from docstrings.
max_to_min.__doc__

'\n    Function to calculate range based on max and min\n    inputs: numeric array\n    '

In [32]:
x = max_to_min(dframe_wine['pH'])
x

1.2699999999999996

In [33]:
wino = dframe_wine.groupby(['quality'])

In [34]:
wino

In [35]:
wino.describe()

        fixed_acidity                                                     \
                count      mean       std  min   25%   50%     75%   max
quality
3                10.0  8.360000  1.770875  6.7  7.15  7.50   9.875  11.6
4                53.0  7.779245  1.626624  4.6  6.80  7.50   8.400  12.5
5               681.0  8.167254  1.563988  5.0  7.10  7.80   8.900  15.9
6               638.0  8.347179  1.797849  4.7  7.00  7.90   9.400  14.3
7               199.0  8.872362  1.992483  4.9  7.40  8.80  10.100  15.6
8                18.0  8.566667  2.119656  5.0  7.25  8.25  10.225  12.6

        volatile_acidity            ... sulphates       alcohol             \
                   count      mean  ...       75%   max   count       mean
quality                             ...
3                   10.0  0.884500  ...     0.615  0.86    10.0   9.955000
4                   53.0  0.693962  ...     0.600  2.00    53.0  10.265094
5                  681.0  0.577041  ...     0.660  1.98   681.0   9.899706
6                  638.0  0.497484  ...     0.750  1.95   638.0  10.629519
7                  199.0  0.403920  ...     0.830  1.36   199.0  11.465913
8                   18.0  0.423333  ...     0.820  1.10    18.0  12.094444


              std  min     25%     50%     75%   max
quality
3        0.818009  8.4   9.725   9.925  10.575  11.0
4        0.934776  9.0   9.600  10.000  11.000  13.1
5        0.736521  8.5   9.400   9.700  10.200  14.9
6        1.049639  8.4   9.800  10.500  11.300  14.0
7        0.961933  9.2  10.800  11.500  12.100  14.0
8        1.224011  9.8  11.325  12.150  12.875  14.0

[6 rows x 88 columns]

In [36]:
wino.mean()

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_so2,total_so2,density,pH,sulphates,alcohol
quality,,,,,,,,,,,
3,8.360000,0.884500,0.171000,2.635000,0.122500,11.000000,24.900000,0.997464,3.398000,0.570000,9.955000
4,7.779245,0.693962,0.174151,2.694340,0.090679,12.264151,36.245283,0.996542,3.381509,0.596415,10.265094
5,8.167254,0.577041,0.243686,2.528855,0.092736,16.983847,56.513950,0.997104,3.304949,0.620969,9.899706
6,8.347179,0.497484,0.273824,2.477194,0.084956,15.711599,40.869906,0.996615,3.318072,0.675329,10.629519
7,8.872362,0.403920,0.375176,2.720603,0.076588,14.045226,35.020101,0.996104,3.290754,0.741256,11.465913
8,8.566667,0.423333,0.391111,2.577778,0.068444,13.277778,33.444444,0.995212,3.267222,0.767778,12.094444

`agg()` is the general container for the aggregation function - in this case the UDF `max_to_min()`...

In [37]:
wino['alcohol'].agg(max_to_min)

quality
3    2.6
4    4.1
5    6.4
6    5.6
7    4.8
8    4.2
Name: alcohol, dtype: float64

In [38]:
wino['alcohol'].apply(max_to_min) #alternative way to apply function on dataframe or column

quality
3    2.6
4    4.1
5    6.4
6    5.6
7    4.8
8    4.2
Name: alcohol, dtype: float64

...and in this case `mean()`

In [39]:
wino.agg('mean')

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_so2,total_so2,density,pH,sulphates,alcohol
quality,,,,,,,,,,,
3,8.360000,0.884500,0.171000,2.635000,0.122500,11.000000,24.900000,0.997464,3.398000,0.570000,9.955000
4,7.779245,0.693962,0.174151,2.694340,0.090679,12.264151,36.245283,0.996542,3.381509,0.596415,10.265094
5,8.167254,0.577041,0.243686,2.528855,0.092736,16.983847,56.513950,0.997104,3.304949,0.620969,9.899706
6,8.347179,0.497484,0.273824,2.477194,0.084956,15.711599,40.869906,0.996615,3.318072,0.675329,10.629519
7,8.872362,0.403920,0.375176,2.720603,0.076588,14.045226,35.020101,0.996104,3.290754,0.741256,11.465913
8,8.566667,0.423333,0.391111,2.577778,0.068444,13.277778,33.444444,0.995212,3.267222,0.767778,12.094444

In [40]:
wino['alcohol'].agg(max_to_min)

quality
3    2.6
4    4.1
5    6.4
6    5.6
7    4.8
8    4.2
Name: alcohol, dtype: float64

In [41]:
dframe_wine['qual_alc_ratio'] = dframe_wine['quality']/dframe_wine['alcohol']
dframe_wine.head()

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_so2,total_so2,density,pH,sulphates,alcohol,quality,qual_alc_ratio
0,6.5,0.90,0.00,1.6,0.052,9.0,17.0,0.99467,3.50,0.63,10.9,6,0.550459
1,9.1,0.22,0.24,2.1,0.078,1.0,28.0,0.99900,3.41,0.87,10.3,6,0.582524
2,6.9,0.52,0.25,2.6,0.081,10.0,37.0,0.99685,3.46,0.50,11.0,5,0.454545
3,7.3,0.59,0.26,2.0,0.080,17.0,104.0,0.99584,3.28,0.52,9.9,5,0.505051
4,12.5,0.28,0.54,2.3,0.082,12.0,29.0,0.99970,3.11,1.36,9.8,7,0.714286

In [42]:
wino = dframe_wine.groupby(['quality'])

In [43]:
df1 = wino[['alcohol','chlorides','citric_acid']].agg({'alcohol':np.size,'chlorides':np.sum,'citric_acid':np.mean})

d:\VSPROJECTS\jupyterenv\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  """Entry point for launching an IPython kernel.

In [44]:
df1

         alcohol  chlorides  citric_acid
quality
3             10      1.225     0.171000
4             53      4.806     0.174151
5            681     63.153     0.243686
6            638     54.202     0.273824
7            199     15.241     0.375176
8             18      1.232     0.391111

## End of Part 9