# Part 5

# Sorting

In [3]:
# imports
import pandas as pd
from pandas import Series, DataFrame

In [ ]:
ser1 = Series([17,12,9],index=['c','a','e'])

In [ ]:
ser1

In [ ]:
ser1.sort_index() # sort by index

In [ ]:
ser1.sort_values() # ser1.order() used in Python 2 - now deprecated

In [ ]:
#ser1.sort_values() gives ascending values by default 
#for decending values add "ascending = False"
ser1.sort_values(ascending = False)

In [1]:
from numpy.random import randn,randint

In [4]:
ser2 = Series(randn(10)) #randn gives random data of float types
ser2

0   -0.766555
1   -1.046985
2   -0.939241
3    0.137436
4    0.629475
5   -0.833767
6   -0.773039
7    1.702703
8   -0.801839
9   -1.402058
dtype: float64

In [ ]:
ser3 = Series(randint(10)) #randint gives random data of integer types
ser3

In [5]:
ser2.sort_values()

9   -1.402058
1   -1.046985
2   -0.939241
5   -0.833767
8   -0.801839
6   -0.773039
0   -0.766555
3    0.137436
4    0.629475
7    1.702703
dtype: float64

In [6]:
ser2

0   -0.766555
1   -1.046985
2   -0.939241
3    0.137436
4    0.629475
5   -0.833767
6   -0.773039
7    1.702703
8   -0.801839
9   -1.402058
dtype: float64

In [7]:
ser2.rank()

0     7.0
1     2.0
2     3.0
3     8.0
4     9.0
5     4.0
6     6.0
7    10.0
8     5.0
9     1.0
dtype: float64

In [ ]:
import numpy as np
np.random.seed(0)#makes the random numbers predictable it means everytime we run 
#this cell same number will be generatd
ser3 = Series(np.random.rand(10))
ser3

In [ ]:
ser3.rank()

# Missing data

In [8]:
import numpy as np

In [9]:
from numpy import nan

In [10]:
data = Series(['one','two',nan,'four'])
data

0     one
1     two
2     NaN
3    four
dtype: object

In [11]:
data.isnull() # finding missing values

0    False
1    False
2     True
3    False
dtype: bool

In [12]:
np.sum(data.isnull())

1

In [13]:
data.notnull() # finding non-missing values

0     True
1     True
2    False
3     True
dtype: bool

In [14]:
data = data.dropna() # remove null values

In [15]:
data

0     one
1     two
3    four
dtype: object

In [16]:
dframe = DataFrame([[1,2,3],[nan,5,6],[7,nan,9],[nan,nan,nan]])
dframe

     0    1    2
0  1.0  2.0  3.0
1  NaN  5.0  6.0
2  7.0  NaN  9.0
3  NaN  NaN  NaN

In [17]:
np.sum(dframe.isnull(), axis = 0)

0    2
1    2
2    1
dtype: int64

In [18]:
clean_dframe = dframe.dropna() # removes all rows for which there is one or more null values
clean_dframe

     0    1    2
0  1.0  2.0  3.0

In [19]:
dframe.dropna(how='all') # removes rows for which all data is missing or null`

     0    1    2
0  1.0  2.0  3.0
1  NaN  5.0  6.0
2  7.0  NaN  9.0

In [20]:
dframe.dropna(axis=1) # as usual, default is by row (i.e. axis = 0)

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3]

In [21]:
dframe2 = DataFrame([[1,2,3,nan],[2,nan,5,6],[nan,7,nan,9],[1,nan,nan,nan]])
dframe2

     0    1    2    3
0  1.0  2.0  3.0  NaN
1  2.0  NaN  5.0  6.0
2  NaN  7.0  NaN  9.0
3  1.0  NaN  NaN  NaN

Options for using dropna
<br>[1] dframe.dropna(): drops all rows in which <b>ANY</b> of the values are missing
<br>[2] dframe.dropna(how = 'all'): drops rows in which <b>ALL</b> values are missing

In [ ]:
dframe2.fillna(999) # replace NAs with the value supplied

In [22]:
dframe2.columns = ['Col1','Col2','Col3','Col4']

In [23]:
dframe2

   Col1  Col2  Col3  Col4
0   1.0   2.0   3.0   NaN
1   2.0   NaN   5.0   6.0
2   NaN   7.0   NaN   9.0
3   1.0   NaN   NaN   NaN

In [ ]:
mean1 = dframe2['Col1'].mean()
mean2 = dframe2['Col2'].mean()
mean3 = dframe2['Col3'].mean()
mean4 = dframe2['Col4'].mean()

In [ ]:
mean1

In [ ]:
mean2

In [ ]:
dframe2

In [ ]:
dframe2.fillna({'Col1':mean1,'Col2':mean2,'Col3':mean3,'Col4':mean4}) # fill each column with a particular (different) value

In [ ]:
dframe2.fillna(0)

In [ ]:
dframe2 # original dframe is unchanged

In [ ]:
dframe2.fillna(0,inplace = True) # changes the original data frame

In [ ]:
dframe2

## End of part 5