## Techniques to interact with a Database

### Technique 1 :
* Using packages like pyodbc, pymssql directly

In [ ]:
import pyodbc

In [ ]:
server = 'xxx.database.windows.net'
database = 'xxx'
username = 'xxx'
password = 'xxx'
driver= '{ODBC Driver 17 for SQL Server}'

In [ ]:
cnxn = pyodbc.connect('DRIVER='+driver+';SERVER='+server+';PORT=1433;DATABASE='+database+';UID='+username+';PWD='+ password)
cursor = cnxn.cursor()

In [ ]:
cursor.execute("select top 5* from dbo.trips")       
for row in cursor:
    print(row)

### Technique 2 :
* using sqlalchemy package which internally uses pyodbc or pymssql package

In [ ]:
import sqlalchemy as sa
import urllib.parse
from sqlalchemy import create_engine

params = urllib.parse.quote_plus("DRIVER={ODBC Driver 17 for SQL Server};SERVER=xxx.database.windows.net;DATABASE=xxx;UID=xxx;PWD=xxx")
print(params)

In [ ]:
engine = create_engine("mssql+pyodbc:///?odbc_connect=%s" %params)
metadata = sa.MetaData()

In [ ]:
connection = engine.connect()

In [ ]:
trips = sa.Table('trips', metadata, autoload=True, autoload_with=engine)

In [ ]:
type(trips)

In [ ]:
# Print the column names
print(trips.columns.keys())

In [ ]:
# Print full table metadata
print(repr(metadata.tables['trips']))

In [ ]:
#Equivalent to 'SELECT * FROM store_details'
query = sa.select([trips])

In [ ]:
ResultProxy = connection.execute(query)
ResultSet = ResultProxy.fetchall()

In [ ]:
ResultSet

In [ ]:
# import pandas
import pandas as pd
df = pd.DataFrame(ResultSet)
df.columns = ResultSet[0].keys()

In [ ]:
df.columns

In [ ]:
df.groupby(['gender']).size()

### Technique 3 : 
* Using Jupyter SQL magic function

In [ ]:
# import ipython-sql package if not installed
!pip install ipython-sql

In [ ]:
# load magic sql
%load_ext sql

In [ ]:
%sql mssql+pyodbc:///?odbc_connect=<<connection_string>>

In [ ]:
%%sql
select top 5* from trips

In [ ]:
%%sql data <<
select gender,count(trip_id) as trips
from dbo.trips
group by gender

In [ ]:
type(data)

In [ ]:
import pandas as pd
df = pd.DataFrame(data,columns=['Gender','Trips'])

In [ ]:
df.head()